* {
	margin: 0px;
	padding: 0px;
}

	 body {
	    font-size: 12px;
}

    #Fondo {
		width: 100%;
		height: 100px;
		background-color: black;
		margin-top: -40px;
}

    .Subpaginas {
		color: rgb(400, 400, 400);
		font-family: serif;
		font-style: normal;
		line-height: 3.5em;
		text-align: justify;
     	font-size: 2em;
     	padding-left: 100px;
		padding-right: 30px;
}

    .Subpaginas:visited {
    	color:white;
    }
    #Portada {
    	width:1000px; 
    	height:700px;
    	border: 5px solid rgb(100, 10, 10);
    	border-top: 5px solid rgb(100, 10, 10);
    }

    h1 {

		color: #295939;
		font-family: 'PT Serif', serif;
		font-style: normal;
		text-align: center;
		font-size: 2.5em;		
}

    h1.Subtitulo {
    	color: #96bb7c;

}

    table, ul {
		color: black;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		line-height: 1.5em;
		text-align: justify;
		font-size: 1.5em;
		padding-left: 10px;
		padding-right: 600px;
}


    .Índice {
		font-family: serif;
		font-style: normal;
		line-height: 1.5em;
		text-align: justify;
     	font-size: 1em;
     	padding-left: 20px;
		padding-right: 20px;
}

    
     p.Descripción {
     	color: black;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		line-height: 1.5em;
		text-align: justify;
		font-size: 1.5em;
		padding-left: 10px;
		padding-right: 600px;
     }

    .Descripción {
		padding-left: 10px;
		padding-right: 600px;
		margin-top: 0px;
}

    #ImgDescripción {
    	width:570px; 
    	height:430px; 
    	float: right;
    	border: 5px solid rgb(100, 10, 10);
    	border-top: 5px solid rgb(100, 10, 10);
}

    .Alimentación {
		width: 700px;
		height: -600px;
		margin: 0px 700px 0px 590px;
}
    
    p.Alimentación {
     	color: black;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		line-height: 1.5em;
		text-align: justify;
		font-size: 1.5em;
		padding-left: 10px;
		padding-right: 600px;
     }
    
    #ImgAlimentación {
    	width:570px; 
    	height:370px; 
    	float: left;
    	border: 5px solid rgb(100, 10, 10);
    	border-top: 5px solid rgb(100, 10, 10);
}

    .Hábitos, .Hábitat {
		padding-left: 10px;
		padding-right: 600px;
}

    p.Hábitos, p.Hábitat { 
    	color: black;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		line-height: 1.5em;
		text-align: justify;
		font-size: 1.5em;
		padding-left: 10px;
		padding-right: 600px;
}

    #ImgHábitos {
    	width:570px; 
    	height:360px; 
    	float: right;
    	border: 5px solid rgb(100, 10, 10);
    	border-top: 5px solid rgb(100, 10, 10);
}

    .Situación {
		padding-left: 590px;
		padding-right: 700px;
		width: 700px;
		height: -600px;
}

     p.Situación{
     	color: black;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		line-height: 1.5em;
		text-align: justify;
		font-size: 1.5em;
		padding-left: 590px;
		padding-right: 700px;
		width: 700px;
		height: -600px;

     }
	
	#ImgSituación {
		width:570px; 
		height:420px; 
		float: left;
		margin-top:30px;
		border: 5px solid rgb(100, 10, 10);
    	border-top: 5px solid rgb(100, 10, 10);
}

    .Razones {
		padding-left: 10px;
		padding-right: 600px;
}
   
    p.Razones{
     	color: black;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		line-height: 1.5em;
		text-align: justify;
		font-size: 1.5em;
		padding-left: 10px;
		padding-right: 600px;
     }

    #ImgRazones {
    	width:580px; 
    	height:390px; 
    	float: right; 
    	margin-top:-50px;
    	border: 5px solid rgb(100, 10, 10);
    	border-top: 5px solid rgb(100, 10, 10);
}
   
    #ImgCuriosidades {
    	width:570px; 
    	height:390px; 
    	float: left; 
    	margin-top:-60px;
    	border: 5px solid rgb(100, 10, 10);
    	border-top: 5px solid rgb(100, 10, 10);
}

    .Curiosidades {
		padding-left: 610px;
		padding-right: 700px;
		width: 700px;
		height: -680px;
}
    
    p.Curiosidades{
     	color: black;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		line-height: 1.5em;
		text-align: justify;
		font-size: 1.5em;
		padding-left: 10px;
		padding-right: 600px;
     }

    #Famosos {
		padding-left: 10px;
		padding-right: 800px;

}

    #Img1Famosos {
    	width:570px; 
    	height:390px; 
    	margin-top:-60px;
    	margin: 0px 0px 0px 400px;
    	border: 5px solid rgb(100, 10, 10);
    	border-top: 5px solid rgb(100, 10, 10);
}

    #Img2Famosos {
    	width:500px; 
    	height:390px; 
    	margin: -180px 0px 0px 800px;
    	border: 5px solid rgb(100, 10, 10);
    	border-top: 5px solid rgb(100, 10, 10);
    	
}

    .Bibliografía {
		text-align: justify;
}
	
     a.Bibliografía{
		font-family: serif;
		font-style: normal;
		line-height: 1.5em;
		text-align: justify;
     	font-size: 1.5em;
     	padding-left: 10px;
		padding-right: 30px;
}
    
    a:visited {
    	color: #04009a;
}

    table{
		border-collapse: collapse;
		width: 100%;
}

	td, th {
		padding-left: 10px;
		padding-right: 30px;
		padding-bottom: 18px;
		border: 1px solid black	
}

	th {
		text-align: left;
}
	